nav li {
	display: inline;
}

li a {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	color: #cccccc;
}

header {
position: absolute;
width: 100%;
height: 46px;
left: 0px;
top: 0px;
background: #060606;
}


#fli {
position: absolute;
width: 83px;
height: 21px;
left: 16px;
top: 13px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */
}

#sli {
position: absolute;
width: 243px;
height: 21px;
left: 126px;
top: 13px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */
}

#tli {
position: absolute;
width: 182px;
height: 21px;
left: 396px;
top: 13px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */
}

.logo {
position: absolute;
width: 100%;
height: 80px;
left: 0px;
top: 46px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.infpage {
position: absolute;
width: 100%;
height: 295px;
left: 0px;
top: 126px;
background: #565656;
}

.infnab {
text-align: center;
height: 67px;
font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 57px;
color: #FFFFFF;
}

#finf {
position: absolute;
left: 0.7%;
right: -23.71%;
top: 58px;
bottom: -100%;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 25px;
color: #FFFFFF;
}

#sinf {
position: absolute;
left: 693px;
right: -23.71%;
top: 58px;
bottom: -100%;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 25px;
text-decoration-line: underline;
color: #D32B2B;
}

#tinf {
	position: absolute;
left: 1016px;
right: -23.71%;
top: 58px;
bottom: -100%;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 25px;
color: #FFFFFF;
}

#foinf {
position: absolute;
left: 0.7%;
right: -23.71%;
top: 83px;
bottom: -100%;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 25px;
color: #FFFFFF;
}

.rasp {
text-align: center;
margin-top: 51.5px;
font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 23px;
line-height: 26px;
color: #FFFFFF;
}

.samorasp {
text-align: center;
margin-top: -7.5px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 26px;
color: #FFFFFF;
}

.secinfpage {
position: absolute;
width: 100%;
height: 130px;
left: 0px;
top: 421px;
background: #666666;
}

.ifques {
text-align: center;
margin-top: 11px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 26px;
color: #FFFFFF;
}

.morava {
text-align: center;
margin-top: -10px;
}

footer {
position: absolute;
width: 100%;
height: 56px;
left: 0px;
top: 551px;
background: #060606;
}


#ffli {
position: absolute;
width: 83px;
height: 21px;
left: 423px;
top: 17px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */
color: #FFFFFF;
}


#ssli {
position: absolute;
width: 243px;
height: 21px;
left: 533px;
top: 17px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */
color: #FFFFFF;
}

#ttli {
position: absolute;
width: 182px;
height: 21px;
left: 803px;
top: 17px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */
color: #FFFFFF;
}

.nizlogo {
position: absolute;
width: 125px;
height: 21px;
left: 80%;
top: 17px;
font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */
color: #FFFFFF;
opacity: 0.30;
}